@font-face {
  font-family: "Regular";
  src: url("../fonts/Roboto-Regular.woff");
}

@font-face {
  font-family: "Bold";
  src: url("../fonts/Roboto-Bold.woff");
}

@font-face {
  font-family: "Thin";
  src: url("../fonts/Roboto-Thin.woff");
}

@font-face {
  font-family: "Light";
  src: url("../fonts/Roboto-Light.woff");
}