@font-face {
  font-family: "Anodina";
  src : url("../fonts/Anodina-ExtraLight.otf");
}

@font-face {
  font-family: "Anodina-bold";
  src : url("../fonts/Anodina-Bold.otf");
}

@font-face {
  font-family: "Anodina-light";
  src : url("../fonts/Anodina-Light.otf");
}