@import './variables.scss';
@import './fonts.scss';

@mixin button($height, $width){
  height: $height;
  width: $width;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  color: $text-color;
  background-color: $button-color;
  border: none;
  border-radius: 20px;
  // font: 16px Anodina-regular;
  // color: $text-color;

  &:hover {
    background-color: $button-color-hover;
  }

  &:active {
    background-color: $button-color-active;
  }

  &:focus {
    outline: none;
  }
}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -o-transition: $time;
  transition: $time;
}

@mixin test-border($color) {
  border: 5px solid $color
}

@mixin border-box($color) {
  border-right: 1px solid $color;
  border-top: none;
  border-bottom: 1px solid $color;
  border-left: none;
  border-radius: 0 5px 0 0;

  &:focus {
    border-right: 1px solid $border-box-active-color;
    border-bottom: 1px solid $border-box-active-color;
  }
}

@mixin scrollbar() {

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color:$general-background-color;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: $button-color;
  }
} 

@mixin font($size, $font) {
  font: $size $font;
}