$general-background-color: rgba(0, 0, 0, 0.85);
$button-color: #4b18d9;
$button-color-hover: #551bf5;
$button-color-active: #3f13ba;
$text-color: white;
$border-color: gray;
$border-box-active-color: white;