.blockListExercises {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  /* -webkit-transition: width 0.9s; */
  width: 260px;
  overflow: hidden;
  transition: width 1s;
  /* width: 50px;
  overflow: hidden; */
}

.blockListExercises:hover {
  width: 0px;
  overflow: hidden;
}

.wrapperButton {
  /* border: 2px solid greenyellow; */
  background-color: rgba(0, 0, 0, 0.85);
  margin-bottom: 5px;
}

.button {
  display: block;
  width: 240px;
  height: 40px;
  padding: 0;
  margin: 15px 10px 15px 10px;
  color: white;
  background-color: #4b18d9;
  border: none;
  border-radius: 20px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #551bf5;
}

.button:active {
  background-color: #3f13ba;
}