@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/fonts.scss';

.exercise {
  @include border-box($border-color);
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  color: $text-color;
  cursor: pointer;
  // @include test-border(red);
}

.wrapperImage {
  // @include test-border(blue);
  display: block;
  min-width: 75px;
}

.image {
  // @include test-border(blue);
  height: 70px;
}

.wrapperText {
  // @include test-border(yellow);
  width: 150px;
  margin-bottom: 5px;
  margin-right: 5px;
  overflow: hidden;
  height: 70px;
  word-wrap: break-word;
}

.panelButtonVisible {
  // @include test-border(green);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  background-color: $general-background-color;
  @include border-box($general-background-color);
}

.panelButtonHide {
  display: none;
}

.panelConfirmVisible {
  // @include test-border(red);
  @extend .panelButtonVisible;
}

.panelConfirmHide {
  display: none;
}

.wrapperButtons {
  display: flex;
}

.buttonDiv {
  @include button(40px, 50px);
  @include font(9px, Regular);
}