@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/fonts.scss';

.search {
  display: block;
}

.wrapperSearch {
  // @include test-border(red);
  display: flex;
  align-items: center;
  background-color: $general-background-color;
  margin-bottom: 5px;
  height: 70px;
}

.wrapperEdits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.textInput {
  color: $text-color;
  background-color: transparent;
  @include border-box($border-color);
  text-align: left;
  font-size: 16px;
  margin: 10px 10px 5px 10px;
  height: 20px;
  width: 170px;
  // font: 16px Anodina-regular;
  // color: $text-color;
} 

.select {
  color: $text-color;
  background-color: transparent;
  @include border-box($border-color);
  text-align: left;
  font-size: 16px;
  height: 23px;
  width: 170px;
  margin: 5px 10px 10px 10px;
  // font: 16px Anodina-regular;
  // color: $text-color;
}

.select option {
  background: $general-background-color;
}

.select:focus {
  outline: none;
}

.buttonDiv {
  @include button(40px, 50px);
  display: flex;
  @include font(9px, Regular);
  // font: 10px Anodina-regular;
  // color: $text-color;
}