.wrapperSvg {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.path {
  fill: rgba(10,10,10,0.1);
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 3s .3s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}