@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/fonts.scss';

.window {
  // @include test-border(green);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $general-background-color;
  width: 300px;
  height: 500px;
  padding-top: 20px;
  margin: 20px;
}