@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/fonts.scss';

.wrapperData {
  // @include test-border(brown);
  // display: flex;
  // flex-direction: column;
  height: 120px;
  overflow: auto;
}

.history {
  display: flex;
  justify-content: space-around;
  // border: 1px solid $border-color;
  // border-radius: 5px;
  // @include test-border(red);
  font: 14px Anodina-bold;
  color: $text-color;
  // overflow: auto;
}

.wrapperDate {
  // @include test-border(yellow);
  display: flex;
  justify-content: center;
  font: 14px Anodina-light;
  color: $text-color-fog;
}

.wrapperLegend {
  // @include test-border(magenta);
  display: flex;
  justify-content: space-around;
  font: 14px Anodina-light;
  color: $text-color-fog;
}