.footer {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
  width: 100%;
  font-size: 14px;
}

.wrapperMail {
  /* border: 2px solid magenta; */
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.wrapperImageMail {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperTextMail {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-left: 10px;
}

.imageMail{
  /* border: 2px solid red; */
  width: 25px;
}

.wrapperLinked {
  /* border: 2px solid magenta; */
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.wrapperImageLinked {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperTextLinked {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-left: 10px;
}

.imageLinked{
  /* border: 2px solid red; */
  width: 25px;
}