@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';
@import '../../globalCSS/fonts.scss';

.footer {
  // @include test-border(green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  bottom: 0px;
  background-color: $general-background-color;
  height: 70px;
  width: 100%;
  @include font(12px, Regular);
}

.wrapperMail {
  // @include test-border(magenta);
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.wrapperImageMail {
  // @include test-border(green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperTextMail {
  // @include test-border(blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-left: 10px;
}

.imageMail{
  // @include test-border(red);
  width: 25px;
}

.wrapperLinked {
  // @include test-border(magenta);
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.wrapperImageLinked {
  // @include test-border(green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapperTextLinked {
  // @include test-border(blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-left: 10px;
}

.imageLinked{
  // @include test-border(red);
  width: 25px;
}