@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/fonts.scss';
@import '../../../globalCSS/mixins.scss';

.dateLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid brown; */
  border-radius: 20px 20px 0 0;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85), #4b18d9);
  background-color: $general-background-color-light;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.imgFold {
  transform: rotate(90deg);
}