@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/fonts.scss';

.wrapperText {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include font(12px, Regular);
  color: $text-color-fog;
}

.wrapperEditButtons {
  // @include test-border(green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  @include border-box($border-color);
  background-color: transparent;
  width: 50px;
  text-align: center;
  @include font(16px, Bold);
  color: $text-color;
}

.buttonRight {
  // @include test-border(red);
  height: 24px;
  width: 24px;
}

.buttonLeft {
  // @include test-border(red);
  transform: rotate(180deg);
  height: 24px;
  width: 24px;
}
