@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/fonts.scss';
@import '../../../globalCSS/mixins.scss';

.listSets {
  // @include test-border(yellow);
  background-color: $general-background-color-middle;
  display: flex;
}

.wrapperText {
  // @include test-border(green);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 5px;
  width: 50px;
  height: 70px;
}

.wrapperSets {
  // @include test-border(red);
  display: flex;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
}

.scroll {
  // @include test-border(blue);
  display: flex;
}

.wrapperWeight {
  padding-bottom: 15px;
  @include font(10px, Regular);
  color: $text-color-fog;
}

.wrapperRepeat {
  padding-bottom: 4px;
  @include font(10px, Regular);
  color: $text-color-fog;
}

.button {
  @include button(30px, 40px);
  margin: 5px;
  border-radius: 20px;
  background: radial-gradient(rgba(0, 0, 0, 0.1), #4b18d9);  
  border: none;
  cursor: pointer;
}

.wrapperButton {
  @include border-box($border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  height: 70px;
  width: 50px;
}