@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/fonts.scss';

.setSmall {
  // @include test-border(red);
  
  @include border-box($border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  height: 70px;
  width: 50px;
  font: 18px Anodina-bold;
  color: white;
  transition: all 0.5s;
}

.setBig {
  @extend .setSmall;
  transition: all 0.5s;
  height: 140px;
  width: 160px;
  background-color: rgba(75, 24, 217, 0.5);
}

.edit {
  @include border-box($border-color);
  background-color: transparent;
  width: 50px;
  text-align: center;
  font: 18px Anodina-bold;
  color: white;
}

.wrapperSet {
  // @include test-border(green);
  display: flex;
  justify-content: center;
  font: 16px Anodina;
}

.wrapperWight {
  @extend .wrapperSet;
  font: 18px Anodina-bold;
}

.wrapperCount {
  @extend .wrapperSet;
  font: 18px Anodina-bold;
}

.buttonRight {
  // @include test-border(red);
  height: 24px;
  width: 24px;
}

.buttonRightForward {
  @extend .buttonRight;
}

.wrapperEditButtons {
  // @include test-border(green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonLeft {
  // @include test-border(red);
  transform: rotate(180deg);
  height: 24px;
  width: 24px;
}

.buttonLeftForward {
  @extend .buttonLeft;
}
