@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';
@import '../../../globalCSS/fonts.scss';

.setSmall {
  // @include test-border(red);
  
  @include border-box($border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2px;
  height: 70px;
  width: 50px;
  transition: all 0.3s;
}

.setBig {
  position: relative;
  @extend .setSmall;
  align-items: stretch;
  transition: all 0.3s;
  height: 140px;
  width: 160px;
  background-color: rgba(75, 24, 217, 0.5);
  z-index: 1001;
}

.visibleBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7)
}

.wrapperSet {
  // @include test-border(red);
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.wrapperWight {
  @extend .wrapperSet;
}

.wrapperCount {
  @extend .wrapperSet;
}

.imgClose {
  // @include test-border(blue);
  // align-self: flex-end;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
}

.wrapperSetImage {
  // @include test-border(green);
  display: flex;
  flex-direction: row;
  // padding-left: 24px;
}