@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';

.trainingExercise {
  // border: 5px solid lightcoral;
  color: white;
  margin: 2px;
  // width: 100%;
}

.wrapperExercise {
  display: flex;
  justify-content: flex-start;
  // width: 200px;

  // border: 5px solid green;
  // width: 100%;
  border-radius: 20px 20px 0 0;
  height: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), #4b18d9);
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
}