@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';

.trainingExercise {
  // @include test-border(red);
  color: $text-color;
  margin: 2px;
}

.wrapperExercise {
  // @include test-border(green);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $general-background-color-middle;
  height: 30px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.imgInfo {
  // @include test-border(blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}