.article {
  /* border: 5px solid blue; */
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.wrapperText {
  /* border: 5px solid orangered; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: black;
  width: 50%;
}

.underline {
  /* border: 5px solid greenyellow; */
  background-color: #4b18d9;
  height: 3px;
  width: 70px;
}

.wrapperImage {
  /* border: 5px solid green; */
  display: flex;
  align-items: center;
}

.image {
  /* border: 5px solid yellow; */
  width: 100%;
  z-index: 5;
}

@media (max-width: 850px) {
  .article {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .wrapperText {
    width: 100%;
  }

  .wrapperImage {
    order: 1 !important;
  }
}