.backgroundPicture {
  border: 5px solid peru;
  display: flex;
  align-items: center;
  height: 500px;
  background-image: url('../../images/fitness-1882721_1920.jpg');
  background-attachment: fixed;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.wrapperText {
  border: 5px solid greenyellow;
  /* margin-top: 100px; */
  /* padding-top: 100px; */ 
  color: white;
  padding: 50px;
}

.pageContext {
  border: 5px solid red;
  background-color: white;
  display: flex;
  justify-content: space-between;
  /* width: 100vw; */
  /* height: 100vh; */

  /* margin-top: 70vh; */
  /* padding: 5vw; */
}

.fieldLeft {
  border: 5px solid green;
  width: 25%;
}

.fieldCenter {
  border: 5px solid blueviolet;
  /* flex-grow: 3; */
}

.fieldRight {
  border: 5px solid blue;
  width: 25%;
}