.backgroundPicture {
  /* border: 5px solid peru; */
  display: flex;
  align-items: center;
  height: 500px;
  background-image: url('../../images/fitness-1882721_1920.jpg');
  background-attachment: fixed;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.wrapperText {
  /* border: 5px solid greenyellow; */
  /* margin-top: 100px; */
  /* padding-top: 100px; */ 
  color: white;
  padding: 50px;
}

.pageContext {
  /* border: 5px solid red; */
  background-color: white;
  /* display: flex; */
  /* justify-content: space-between; */
  /* width: 100vw; */
  /* height: 100vh; */

  /* margin-top: 70vh; */
  /* padding: 5vw; */
}

.fieldCenter {
  /* border: 5px solid blueviolet; */
  max-width: 1200px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  
  /* flex-grow: 3; */
}

.separator {
  /* border: 5px solid greenyellow; */
  background-color: rgb(121, 121, 121);
  height: 1px;
  width: 100%;
  /* margin-right: 10px;
  margin-left: 10px; */
  /* margin-bottom: 10px; */
}