@import '../../../globalCSS/variables.scss';
@import '../../../globalCSS/mixins.scss';

.windowNewExerciseHide {
  display: none;
}

.windowNewExerciseVisible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7)
}

.window {
  // @include test-border(red)
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $general-background-color;
  width: 300px;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px;
}

.wrapperButton {
  // @include test-border(red)
  width: 240px;
  height: 40px;
  margin: 10px 20px 10px;

}

.button {
  @include button(40px, 240px);
}